<div class="licenses index">
	<h2><?php echo __('Licenses'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('license_key'); ?></th>
			<th><?php echo $this->Paginator->sort('first_name'); ?></th>
			<th><?php echo $this->Paginator->sort('last_name'); ?></th>
			<th><?php echo $this->Paginator->sort('email'); ?></th>
			<th><?php echo $this->Paginator->sort('website'); ?></th>
			<th><?php echo $this->Paginator->sort('time_add'); ?></th>
			<th><?php echo $this->Paginator->sort('time_expire'); ?></th>
			<th><?php echo $this->Paginator->sort('time_edit'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($licenses as $license): ?>
	<tr>
		<td><?php echo h($license['License']['id']); ?>&nbsp;</td>
		<td><?php echo h($license['License']['license_key']); ?>&nbsp;</td>
		<td><?php echo h($license['License']['first_name']); ?>&nbsp;</td>
		<td><?php echo h($license['License']['last_name']); ?>&nbsp;</td>
		<td><?php echo h($license['License']['email']); ?>&nbsp;</td>
		<td><?php echo h($license['License']['website']); ?>&nbsp;</td>
		<td><?php echo h($license['License']['time_add']); ?>&nbsp;</td>
		<td><?php echo h($license['License']['time_expire']); ?>&nbsp;</td>
		<td><?php echo h($license['License']['time_edit']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $license['License']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $license['License']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $license['License']['id']), null, __('Are you sure you want to delete # %s?', $license['License']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New License'), array('action' => 'add')); ?></li>
	</ul>
</div>
